{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <link rel="stylesheet" href="/static/css/app.css">
        <title>Kyle Fujishige</title>
        <link rel="icon" href="{% static 'icons/mouse.svg' %}" type="image/icon">
    </head>
    <body>
        <div id="app"></div>
    </body>
    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src='https://unpkg.com/react-router-dom@5.1.0/umd/react-router-dom.min.js'></script>
    <!-- Load our django templates as json. REST API calls aren't used because 
        the data needs to only be called once. -->
    {{navData|json_script:"nav-data"}}
    {{homePosts|json_script:"home-posts"}}
    {{aboutMePosts|json_script:"about-me-posts"}}
    {{projectPosts|json_script:"project-posts"}}
    {{workExpPosts|json_script:"work-exp-posts"}}
    {{contactPosts|json_script:"contact-posts"}}
    <!-- Load our React component. -->
    <script type="module" src="{% static 'js/app.js' %}"></script>
    <noscript>
        {% for nav in navData %}
            <a href="#{{nav.tab}}">{{nav.name}}</a> | 
        {% endfor %}
        <br>
        <div id="home">
            {% for homePost in homePosts %}
                <h1>{{homePost.title}}</h1>
                <p>{{homePost.content}}</p>
                <br>
            {% endfor %}
        </div>
        <br>
        <br>
        <br>
        <div id="work-exp">
            {% for workExpPost in workExpPosts %}
                <h1>{{workExpPost.title}}</h1>
                <p>{{workExpPost.content}}</p>
                <br>
            {% endfor %}
        </div>
        <br>
        <br>
        <br>
        <div id="projects">
            {% for projectPost in projectPosts %}
                <h1>{{projectPost.title}}</h1>
                <p>{{projectPost.content}}</p>
                <br>
            {% endfor %}
        </div>
        <br>
        <br>
        <br>
        <div id="about-me">
            {% for aboutMePost in aboutMePosts %}
                <h1>{{aboutMePost.title}}</h1>
                <p>{{aboutMePost.content}}</p>
                <br>
            {% endfor %}
        </div>
        <br>
        <br>
        <br>
        <div id="contact">
            {% for contactPost in contactPosts %}
                <h1>{{contactPost.title}}</h1>
                <p>{{contactPost.content}}</p>
                <br>
            {% endfor %}
        </div>
    </noscript>
</html>