{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <link rel="stylesheet" href="/static/css/app.css">
        <title>Kyle Fujishige</title>
        <link rel="icon" href="{% static 'icons/mouse.svg' %}" type="image/icon">
    </head>
    <body>
        <div id="app"></div>
    </body>
    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src='https://unpkg.com/react-router-dom@5.1.0/umd/react-router-dom.min.js'></script>
    <!-- Load our django templates as json. REST API calls aren't used because 
        the data needs to only be called once. -->
    {{navData|json_script:"nav-data"}}
    {{homePosts|json_script:"home-posts"}}
    {{aboutMePosts|json_script:"about-me-posts"}}
    {{projectPosts|json_script:"project-posts"}}
    {{workExpPosts|json_script:"work-exp-posts"}}
    {{contactPosts|json_script:"contact-posts"}}
    <!-- Load our React component. -->
    <script type="module" src="{% static 'js/app.js' %}"></script>
    <noscript>
        <nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main-navigation">
            <div class="navbar-brand">
                {% for nav in navData %}
                    <a href="#{% if nav.tab == 'kyle' %}home{% else %}{{nav.tab}}{% endif %}" class="navbar-item">
                        {% if nav.icon %}
                            <img class="mr-2" src="{{nav.icon}}" alt="" width="32px" height="32px">
                        {% endif %}
                        {{nav.name}}
                    </a>
                {% endfor %}
            </div>
        </nav>
        <br>
        <br>
        <div id="home">
            {% for homePost in homePosts %}
                {% if homePost.imageUrl%}
                    <section class="hero {{homePost.size}} {% if forloop.counter0|divisibleby:2 %}is-dark{% else %}is-dark is-light-dark{% endif %}" style="position: relative; z-index: 1;">
                        <div class="hero-body">
                            <div class="container">
                                <div class="columns level">
                                    <div class="column">
                                        {% if homePost.title %}
                                            <p class="title">{{homePost.title}}</p>
                                        {% endif %}
                                        {% if homePost.content %}
                                            <p class="subtitle">{{homePost.content}}</p>
                                        {% endif %}
                                        {% if homePost.url %}
                                            <div style="justify-content: center; display: flex;">
                                                <a class="button is-link" href="{{homePost.url}}" target="_blank">{{homePost.urlDescription}}</a>
                                            </div>                                  
                                        {% endif %}
                                    </div>
                                    <div class="column">
                                        <div style="justify-content: center; align-items: center; display: flex;">
                                            <img alt="" src="{{homePost.imageUrl}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if homePost.backgroundImageUrl %}
                            <div style="z-index: -1; opacity: 0.5; width: 100%; height: 100%; position: absolute; content: url({{homePost.backgroundImageUrl}});"></div>
                        {% endif %}
                    </section>
                {% else %}
                    <section class="hero {{homePost.size}} {% if forloop.counter0|divisibleby:2 %}is-dark{% else %}is-dark is-light-dark{% endif %}" style="position: relative; z-index: 1;">
                        <div class="hero-body">
                            <div class="container">
                                {% if homePost.title %}
                                    <p class="title">{{homePost.title}}</p>
                                {% endif %}
                                {% if homePost.content %}
                                    <p class="subtitle">{{homePost.content}}</p>
                                {% endif %}
                                {% if homePost.url %}
                                    <a class="button is-link" href="{{homePost.url}}" target="_blank">{{homePost.urlDescription}}</a>
                                {% endif %}
                            </div>
                            {% if homePost.backgroundImageUrl %}
                                <div style="z-index: -1; opacity: 0.5; width: 100%; height: 100%; position: absolute; content: url({{homePost.backgroundImageUrl}});"></div>
                            {% endif %}
                        </div>
                    </section>
                {% endif %}
            {% endfor %}
        </div>
        <div id="work-exp">
            {% for workExpPost in workExpPosts %}
                {% if workExpPost.imageUrl%}
                    <section class="hero {{workExpPost.size}} {% if forloop.counter0|divisibleby:2 %}is-dark{% else %}is-dark is-light-dark{% endif %}" style="position: relative; z-index: 1;">
                        <div class="hero-body">
                            <div class="container">
                                <div class="columns level">
                                    <div class="column">
                                        {% if workExpPost.title %}
                                            <p class="title">{{workExpPost.title}}</p>
                                        {% endif %}
                                        {% if workExpPost.content %}
                                            <p class="subtitle">{{workExpPost.content}}</p>
                                        {% endif %}
                                        {% if workExpPost.url %}
                                            <div style="justify-content: center; display: flex;">
                                                <a class="button is-link" href="{{workExpPost.url}}" target="_blank">{{workExpPost.urlDescription}}</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="column">
                                        <div style="justify-content: center; align-items: center; display: flex;">
                                            <img alt="" src="{{workExpPost.imageUrl}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if workExpPost.backgroundImageUrl %}
                            <div style="z-index: -1; opacity: 0.5; width: 100%; height: 100%; position: absolute; content: url({{workExpPost.backgroundImageUrl}});"></div>
                        {% endif %}
                    </section>
                {% else %}
                <section class="hero {{workExpPost.size}} {% if forloop.counter0|divisibleby:2 %}is-dark{% else %}is-dark is-light-dark{% endif %}" style="position: relative; z-index: 1;">
                    <div class="hero-body">
                        <div class="container">
                            {% if workExpPost.title %}
                                <p class="title">{{workExpPost.title}}</p>
                            {% endif %}
                            {% if workExpPost.content %}
                                <p class="subtitle">{{workExpPost.content}}</p>
                            {% endif %}
                            {% if workExpPost.url %}
                                <a class="button is-link" href="{{workExpPost.url}}" target="_blank">{{workExpPost.urlDescription}}</a>
                            {% endif %}
                        </div>
                    </div>
                    {% if workExpPost.backgroundImageUrl %}
                        <div style="z-index: -1; opacity: 0.5; width: 100%; height: 100%; position: absolute; content: url({{workExpPost.backgroundImageUrl}});"></div>
                    {% endif %}
                </section>
                {% endif %}
            {% endfor %}
        </div>
        <div id="projects">
            {% for projectPost in projectPosts %}
                {% if projectPost.imageUrl%}
                    <section class="hero {{projectPost.size}} {% if forloop.counter0|divisibleby:2 %}is-dark{% else %}is-dark is-light-dark{% endif %}" style="position: relative; z-index: 1;">
                        <div class="hero-body">
                            <div class="container">
                                <div class="columns level">
                                    <div class="column">
                                        {% if projectPost.title %}
                                            <p class="title">{{projectPost.title}}</p>
                                        {% endif %}
                                        {% if projectPost.content %}
                                            <p class="subtitle">{{projectPost.content}}</p>
                                        {% endif %}
                                        {% if projectPost.url %}
                                            <div style="justify-content: center; display: flex;">
                                                <a class="button is-link" href="{{projectPost.url}}" target="_blank">{{projectPost.urlDescription}}</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="column">
                                        <div style="justify-content: center; align-items: center; display: flex;">
                                            <img alt="" src="{{projectPost.imageUrl}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if projectPost.backgroundImageUrl %}
                            <div style="z-index: -1; opacity: 0.5; width: 100%; height: 100%; position: absolute; content: url({{projectPost.backgroundImageUrl}});"></div>
                        {% endif %}
                    </section>
                {% else %}
                <section class="hero {{projectPost.size}} {% if forloop.counter0|divisibleby:2 %}is-dark{% else %}is-dark is-light-dark{% endif %}" style="position: relative; z-index: 1;">
                    <div class="hero-body">
                        <div class="container">
                            {% if projectPost.title %}
                                <p class="title">{{projectPost.title}}</p>
                            {% endif %}
                            {% if projectPost.content %}
                                <p class="subtitle">{{projectPost.content}}</p>
                            {% endif %}
                            {% if projectPost.url %}
                                <a class="button is-link" href="{{projectPost.url}}" target="_blank">{{projectPost.urlDescription}}</a>
                            {% endif %}
                        </div>
                        {% if projectPost.backgroundImageUrl %}
                            <div style="z-index: -1; opacity: 0.5; width: 100%; height: 100%; position: absolute; content: url({{projectPost.backgroundImageUrl}});"></div>
                        {% endif %}
                    </div>
                </section>
                {% endif %}
            {% endfor %}
        </div>
        <div id="about-me">
            {% for aboutMePost in aboutMePosts %}
                {% if aboutMePost.imageUrl%}
                    <section class="hero {{aboutMePost.size}} {% if forloop.counter0|divisibleby:2 %}is-dark{% else %}is-dark is-light-dark{% endif %}" style="position: relative; z-index: 1;">
                        <div class="hero-body">
                            <div class="container">
                                <div class="columns level">
                                    <div class="column">
                                        {% if aboutMePost.title %}
                                            <p class="title">{{aboutMePost.title}}</p>
                                        {% endif %}
                                        {% if aboutMePost.content %}
                                            <p class="subtitle">{{aboutMePost.content}}</p>
                                        {% endif %}
                                        {% if aboutMePost.url %}
                                            <div style="justify-content: center; display: flex;">
                                                <a class="button is-link" href="{{aboutMePost.url}}" target="_blank">{{aboutMePost.urlDescription}}</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="column">
                                        <div style="justify-content: center; align-items: center; display: flex;">
                                            <img alt="" src="{{aboutMePost.imageUrl}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if aboutMePost.backgroundImageUrl %}
                            <div style="z-index: -1; opacity: 0.5; width: 100%; height: 100%; position: absolute; content: url({{aboutMePost.backgroundImageUrl}});"></div>
                        {% endif %}
                    </section>
                {% else %}
                    <section class="hero {{aboutMePost.size}} {% if forloop.counter0|divisibleby:2 %}is-dark{% else %}is-dark is-light-dark{% endif %}" style="position: relative; z-index: 1;">
                        <div class="hero-body">
                            <div class="container">
                                {% if aboutMePost.title %}
                                    <p class="title">{{aboutMePost.title}}</p>
                                {% endif %}
                                {% if aboutMePost.content %}
                                    <p class="subtitle">{{aboutMePost.content}}</p>
                                {% endif %}
                                {% if aboutMePost.url %}
                                    <a class="button is-link" href="{{aboutMePost.url}}" target="_blank">{{aboutMePost.urlDescription}}</a>
                                {% endif %}
                            </div>
                        </div>
                        {% if aboutMePost.backgroundImageUrl %}
                            <div style="z-index: -1; opacity: 0.5; width: 100%; height: 100%; position: absolute; content: url({{aboutMePost.backgroundImageUrl}});"></div>
                        {% endif %}
                    </section>
                {% endif %}
            {% endfor %}
        </div>
        <div id="contact">
            {% for contactPost in contactPosts %}
                {% if contactPost.imageUrl%}
                    <section class="hero {{contactPost.size}} {% if forloop.counter0|divisibleby:2 %}is-dark{% else %}is-dark is-light-dark{% endif %}" style="position: relative; z-index: 1;">
                        <div class="hero-body">
                            <div class="container">
                                <div class="columns level">
                                    <div class="column">
                                        {% if contactPost.title %}
                                            <p class="title">{{contactPost.title}}</p>
                                        {% endif %}
                                        {% if contactPost.content %}
                                            <p class="subtitle">{{contactPost.content}}</p>
                                        {% endif %}
                                        {% if contactPost.url %}
                                            <div style="justify-content: center; display: flex;">
                                                <a class="button is-link" href="{{contactPost.url}}" target="_blank">{{contactPost.urlDescription}}</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="column">
                                        <div style="justify-content: center; align-items: center; display: flex;">
                                            <img alt="" src="{{contactPost.imageUrl}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if contactPost.backgroundImageUrl %}
                            <div style="z-index: -1; opacity: 0.5; width: 100%; height: 100%; position: absolute; content: url({{contactPost.backgroundImageUrl}});"></div>
                        {% endif %}
                    </section>
                {% else %}
                    <section class="hero {{contactPost.size}} {% if forloop.counter0|divisibleby:2 %}is-dark{% else %}is-dark is-light-dark{% endif %}" style="position: relative; z-index: 1;">
                        <div class="hero-body">
                            <div class="container">
                                {% if contactPost.title %}
                                    <p class="title">{{contactPost.title}}</p>
                                {% endif %}
                                {% if contactPost.content %}
                                    <p class="subtitle">{{contactPost.content}}</p>
                                {% endif %}
                                {% if contactPost.url %}
                                    <a class="button is-link" href="{{contactPost.url}}" target="_blank">{{contactPost.urlDescription}}</a>
                                {% endif %}
                            </div>
                        </div>
                        {% if contactPost.backgroundImageUrl %}
                            <div style="z-index: -1; opacity: 0.5; width: 100%; height: 100%; position: absolute; content: url({{contactPost.backgroundImageUrl}});"></div>
                        {% endif %}
                    </section>
                {% endif %}
            {% endfor %}
        </div>
    </noscript>
</html>