<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <title>Kyle Fujishige</title>
    </head>
    <body>
        {% load static %}
        <div class="container">
            <div id="nav_container"></div>
        </div>
            
    </body>
    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>  
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <!-- Load our React component. -->
    <script src="{% static 'js/components/nav_bar.js' %}" homeUrl="{% url 'home' %}" teaIconUrl="{% static 'icons/teabag.svg' %}"></script>
</html>